.form {  display: flex;
justify-content: center;  }
  
  .input {
    box-sizing: border-box;
    padding: 2%;
    width: 80%;
    font-size: 1em;
    border: 1px solid #2979FF;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 10px;
    display: inline-block;
    border: none;
    width: 20%;
  }